@import '~node_modules/modern-normalize/modern-normalize.css';

html,
body {
  width: 100%;
  height: 100%;

  font-family: var(--font-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;

  background-color: var(--light-color);

  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;

  padding-right: 15px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.main {
  flex-grow: 1;
}

.logo {
  width: clamp(2rem, 1.536rem + 2.32vw, 3.625rem);
}

.section__title {
  font-family: var(--font-rosario);
  font-size: clamp(1.5rem, 0.679rem + 4.11vw, 4.375rem);
  font-weight: 700;
  line-height: 1.28;

  text-wrap: balance;

  color: var(--title-color);
}

.section__description {
  width: clamp(18.75rem, 13.393rem + 26.79vw, 37.5rem);

  font-size: clamp(0.625rem, 0.482rem + 0.71vw, 1.125rem);
  line-height: 1.67;

  color: var(--paragraph-color);
}

address {
  all: unset;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
