:root {
  // --------- Fonts ---------
  --font-sans: 'DM Sans', sans-serif;
  --font-rosario: 'Rosario', sans-serif;

  // ---------- Text ----------
  --title-color: #222;
  --paragraph-color: #555;

  // ---------- Colors -----------
  --light-color: #fff;
  --light-dark-color: #ccc;
  --dark-color: #000;

  // ---------- Backgrounds ----------
  --accent: #09a66d;
  --hover-accent: #088859;
  --background-color: #f3fbf8;
  --hover-background-color: #b6f0da;
  --background-light: #fcfefd;
  --background-dark: #09a66c1e;
  --dropdown-bg: #598a4c;

  // ----------- Shadows -----------
  --dark-shadow: 4px 4px 15px #09a66c6b;
  --dark-shadow-hover: 6px 8px 20px #09a66c59;

  // ------------ Media screen ------------
  --mobile: 320px;
  --tablet-small: 480px;
  --tablet-medium: 572px;
  --tablet-big: 768px;
  --desktop-small: 1024px;
  --desktop-medium: 1200px;
  --desktop-big: 1440px;
}
