<section class="about about__section" id="about" aria-label="About company">
  <article class="about__container">
    <div class="about__text-wrapper">
      <h2 class="section__title">Why We Are The Best?</h2>
      <p class="section__description about__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley...
      </p>
    </div>
    <div class="about__info-wrapper">
      <div class="about__img-wrapper">
        <div class="about__img-circle"></div>
        <picture class="about__img">
          <source
            srcset="../src/images/pictures/food-package.webp"
            type="image/webp"
          />
          <img
            loading="lazy"
            src="../src/images/pictures/food-package.png"
            alt="food package"
            width="373"
            height="376"
          />
        </picture>
        <img
          loading="lazy"
          class="about__img-elipse"
          src="../src/images/pictures/Ellipse.png"
          alt="elipse"
          width="301"
          height="600"
        />
      </div>
      <ul class="about__info-list">
        <li class="about__info-item">
          <div class="about__icon-wrapper">
            <svg width="32" height="32" class="about__info-icon">
              <use href="../src/images/sprite.svg#delivery-man"></use>
            </svg>
          </div>
          <div class="about__info-text">
            <h3 class="about__info-title">Fasted delivery Service</h3>
            <p class="about__info-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </li>
        <li class="about__info-item">
          <div class="about__icon-wrapper bg-light">
            <svg width="32" height="32" class="about__info-icon">
              <use href="../src/images/sprite.svg#shopping"></use>
            </svg>
          </div>
          <div class="about__info-text">
            <h3 class="about__info-title">Online order Service</h3>
            <p class="about__info-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </li>
        <li class="about__info-item">
          <div class="about__icon-wrapper">
            <svg width="32" height="32" class="about__info-icon">
              <use href="../src/images/sprite.svg#fast-time"></use>
            </svg>
          </div>
          <div class="about__info-text">
            <h3 class="about__info-title">24/7 Service</h3>
            <p class="about__info-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </article>
</section>
