<section class="about container" aria-label="Section about company">
  <div class="about__text-wrapper">
    <h2 class="about__title">Why We Are The Best?</h2>
    <p class="about__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley...
    </p>
  </div>
  <article class="about__info-wrapper">
    <div class="about__img-wrapper">
      <div class="about__img-circle">
        <img
          class="about__img"
          src="../src/images/pictures/food-package.png"
          alt="food package"
        />
      </div>
      <img
        class="about__img-elipse"
        src="../src/images/pictures/Ellipse.png"
        alt="elipse"
      />
    </div>
  </article>
</section>
