<section class="download__section" aria-label="Download app">
  <article class="download__container">
    <div class="download__img-wrapper">
      <img
        loading="lazy"
        src="../src/images/pictures/smartphone.png"
        alt="smartphone"
        width="235"
        class="download__img"
      />
    </div>

    <div class="download__text-wrapper">
      <span class="download__app-link">Download App</span>
      <h2 class="section__title">Simple Way To Order Your Organic Fruit</h2>
      <p class="section__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer...
      </p>

      <ul class="download__icons-list">
        <li class="download__icons-item">
          <a
            href="https://www.apple.com/app-store/"
            target="_blank"
            rel="noopener"
            class="download__icons-link"
            aria-label="to App Store"
          >
            <img
              src="../src/images/pictures/AppStorejpg.jpg"
              alt="App Store"
              width="104"
              class="download__icons-img"
            />
          </a>
        </li>
        <li class="download__icons-item">
          <a
            href="https://play.google.com/store/games?hl=en&gl=US"
            target="_blank"
            rel="noopener"
            class="download__icons-link"
            aria-label="to Google Play"
          >
            <img
              src="../src/images/pictures/GooglePlay.jpg"
              alt="Google Play"
              width="104"
              class="download__icons-img"
            />
          </a>
        </li>
      </ul>
    </div>
  </article>
</section>
