<section
  class="explore explore__section"
  id="service"
  aria-label="Explore Our Special Items"
>
  <article class="explore__container">
    <div class="explore__text-wrapper">
      <h2 class="section__title">Explore Our Special Items</h2>
      <p class="section__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer...
      </p>
      <div class="explore__button-wrapper">
        <p class="explore__button-text">Contact Us</p>
        <button
          class="explore__button circle__button"
          aria-label="open Contact Form"
          data-modal-open
          data-modal-content="contact"
        >
          <svg width="32" height="32" class="circle__button-arrow">
            <use href="../src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="explore__img-wrapper">
      <div
        class="explore__img img-1"
        id="product-1"
        data-modal-open
        data-modal-content="product"
      >
        <img
          loading="lazy"
          src="../src/images/pictures/item-1.jpg"
          alt="Cucumber"
          width="250"
          height="250"
        />
      </div>
      <div
        class="explore__img img-2"
        id="product-2"
        data-modal-open
        data-modal-content="product"
      >
        <img
          loading="lazy"
          src="../src/images/pictures/item-2.jpg"
          alt="Orange"
          width="200"
          height="200"
        />
      </div>
      <div
        class="explore__img img-3"
        id="product-3"
        data-modal-open
        data-modal-content="product"
      >
        <img
          loading="lazy"
          src="../src/images/pictures/item-3.jpg"
          alt="Lettuce"
          width="270"
          height="270"
        />
      </div>
      <div
        class="explore__img img-4"
        id="product-4"
        data-modal-open
        data-modal-content="product"
      >
        <img
          loading="lazy"
          src="../src/images/pictures/item-4.jpg"
          alt="Apple"
          width="208"
          height="208"
        />
      </div>
    </div>
  </article>
</section>
