<section
  class="explore explore__section"
  aria-label="Explore Our Special Items"
>
  <div class="explore__container">
    <article class="explore__text-wrapper">
      <h1 class="section__title">Explore Our Special Items</h1>
      <p class="section__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer...
      </p>
      <div class="explore__button-wrapper">
        <p class="explore__button-text">Explore Now</p>
        <button
          class="explore__button circle__button"
          aria-label="button to explore items"
        >
          <svg width="32" height="32" class="circle__button-arrow">
            <use href="../src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </article>
    <div class="explore__img-wrapper">
      <div class="explore__img img-1">
        <img
          src="../src/images/pictures/item-1.jpg"
          alt="cucumbers"
          width="250"
        />
      </div>
      <div class="explore__img img-2">
        <img src="../src/images/pictures/item-2.jpg" alt="orange" width="200" />
      </div>
      <div class="explore__img img-3">
        <img
          src="../src/images/pictures/item-3.jpg"
          alt="lettuce"
          width="270"
        />
      </div>
      <div class="explore__img img-4">
        <img src="../src/images/pictures/item-4.jpg" alt="apples" width="208" />
      </div>
    </div>
  </div>
</section>
