<footer class="footer__section">
  <ul class="footer__container footer__list">
    <li class="footer__item-logo">
      <a href="/src/index.html">
        <svg width="70" height="70" class="footer-logo">
          <use href="../src/images/sprite.svg#logo"></use>
        </svg>
      </a>
      <p class="section__description footer__desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer...
      </p>
    </li>
    <li class="footer__item">
      <h2 class="footer__item-title">Navigation</h2>
      <ul class="footer__nav-list">
        <li class="footer__item-link">
          <a href="#about" aria-label="to section About Us">About Us</a>
        </li>
        <li class="footer__item-link">
          <a href="#service" aria-label="to section Service">Service</a>
        </li>
        <li class="footer__item-link">
          <a href="#menu" aria-label="to section Menu">Menu</a>
        </li>
      </ul>
    </li>
    <li class="footer__item">
      <h2 class="footer__item-title">Resources</h2>
      <ul class="footer__resources-list">
        <li class="footer__item-link">
          <a href="#reviews" aria-label="to Reviews">Reviews</a>
        </li>
        <li class="footer__item-link">
          <a href="#" rel="noopener" aria-label="to Blog">Blog</a>
        </li>
        <li class="footer__item-link">
          <a href="#" rel="noopener" aria-label="to Update News">Update News</a>
        </li>
      </ul>
    </li>
    <li class="footer__item-contacts">
      <h2 class="footer__item-title">Contact Us</h2>
      <div class="footer__contacts-email">
        <span class="contacts__email-text">Email:</span>
        <address>
          <a
            href="mailto:mail@organic.com"
            class="contacts__email-link"
            aria-label="email"
            >mail@organic.com</a
          >
        </address>
      </div>
      <ul class="footer__contacts-socials">
        <li class="contacts__socials-item">
          <a
            href="https://facebook.com/"
            target="_blank"
            rel="noopener"
            class="contacts__socials-link"
            aria-label="facebook"
          >
            <svg width="24" height="24" class="contacts__socials-icon">
              <use href="../src/images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__socials-item">
          <a
            href="https://twitter.com/"
            target="_blank"
            rel="noopener"
            class="contacts__socials-link"
            aria-label="twitter"
          >
            <svg width="24" height="24" class="contacts__socials-icon">
              <use href="../src/images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__socials-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener"
            class="contacts__socials-link"
            aria-label="instagram"
          >
            <svg width="24" height="24" class="contacts__socials-icon">
              <use href="../src/images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</footer>
