<header class="header" id="menu">
  <div class="header__container header__wrapper">
    <nav class="header__nav">
      <ul class="header__nav-list" aria-label="Navigation list">
        <li class="header__nav-item">
          <a
            href="#about"
            class="header__nav-link"
            aria-label="to About Us section"
            >About Us</a
          >
        </li>
        <li class="header__nav-item">
          <a
            href="#service"
            class="header__nav-link"
            aria-label="to Service section"
            >Service</a
          >
        </li>
        <li class="header__nav-item">
          <a
            href="#reviews"
            class="header__nav-link"
            aria-label="to Menu section"
            >Reviews</a
          >
        </li>
      </ul>
    </nav>

    <a href="/src/index.html" class="header__logo">
      <svg width="58" height="58" class="logo">
        <use href="../src/images/sprite.svg#logo"></use>
      </svg>
    </a>

    <ul class="header__user-wrapper">
      <li class="header__nav-item">
        <a
          href="#contact"
          class="header__nav-link"
          aria-label="to Contact section"
          >Contacts</a
        >
      </li>

      <li class="header__user-item">
        <a
          href="#download"
          class="header__user-download"
          aria-label="Download App"
          >Download App</a
        >
      </li>
    </ul>

    <!-- Mobile Menu -->
    <div class="burger-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</header>
