<header class="header header__section">
  <div class="header__container header__wrapper">
    <nav class="header__nav">
      <ul class="header__nav-list" aria-label="Navigation list">
        <li class="header__nav-item">
          <a
            href="#about"
            class="header__nav-link"
            aria-label="Link to About Us section"
            >About Us</a
          >
        </li>
        <li class="header__nav-item">
          <a
            href="#service"
            class="header__nav-link"
            aria-label="Link to Service section"
            >Service</a
          >
        </li>
        <li class="header__nav-item">
          <a
            href="#menu"
            class="header__nav-link"
            aria-label="Link to Menu section"
            >Menu</a
          >
        </li>
        <li class="header__nav-item">
          <a
            href="#contact"
            class="header__nav-link"
            aria-label="Link to Contact section"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <img
      class="header__logo"
      src="./images/pictures/logo.png"
      alt="logo"
      width="56"
      height="56"
    />

    <div class="header__user-wrapper">
      <img
        src="./images/icons/search.svg"
        alt="search"
        width="24"
        height="24"
        class="header__user-icon"
        aria-label="button to search"
      />
      <img
        src="./images/icons/buy.svg"
        alt="buy"
        width="24"
        height="24"
        class="header__user-icon"
        aria-label="button to buy"
      />

      <button class="header__user-button" aria-label="button to register">
        Register Now
      </button>
    </div>
  </div>
</header>
