<section class="hero container" aria-label="Company info">
  <div class="hero__text-wrapper">
    <h1 class="section__title">Organic Fruits & Vegetables</h1>
    <p class="section__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley...
    </p>
  </div>

  <div class="hero__button-wrapper">
    <p class="hero__button-text">Order Now</p>
    <button
      type="button"
      class="hero__button circle__button"
      aria-label="Button for Order"
    >
      <svg width="32" height="32" class="circle__button-arrow">
        <use href="../src/images/sprite.svg#arrow"></use>
      </svg>
    </button>
  </div>

  <div class="hero__bottom-wrapper">
    <div class="hero__img-wrapper">
      <img
        src="../src/images/pictures/vegetables-fruits.png"
        alt="fruits & vegetables"
        width="862"
        height="auto"
        class="hero__img"
      />
    </div>
    <ul class="hero__info-list" aria-label="Info list">
      <li class="hero__info-item" aria-label="Info about user's order quantity">
        <div class="info__icon-wrapper">
          <svg width="32" height="32" class="info__item-icon">
            <use href="../src/images/sprite.svg#user"></use>
          </svg>
        </div>
        <div class="info__item-text">
          <h2 class="info__text-value">30K</h2>
          <p class="info__text-description">User Order</p>
        </div>
      </li>
      <li
        class="hero__info-item"
        aria-label="Info about user's reviews quantity"
      >
        <div class="info__icon-wrapper">
          <svg width="32" height="32" class="info__item-icon">
            <use href="../src/images/sprite.svg#star"></use>
          </svg>
        </div>
        <div class="info__item-text">
          <h2 class="info__text-value">20K</h2>
          <p class="info__text-description">Reviews(4.8)</p>
        </div>
      </li>
      <li class="hero__info-item" aria-label="Info about items quantity">
        <div class="info__icon-wrapper">
          <svg width="32" height="32" class="info__item-icon">
            <use href="../src/images/sprite.svg#harvest"></use>
          </svg>
        </div>
        <div class="info__item-text">
          <h2 class="info__text-value">3000</h2>
          <p class="info__text-description">Items</p>
        </div>
      </li>
    </ul>
  </div>
</section>
