<section
  class="reviews reviews__section"
  id="reviews"
  aria-label="Reviews section"
>
  <article class="reviews__container">
    <h2 class="section__title reviews__title">
      What Our Customers About Us Saying
    </h2>
    <div class="review__carousel">
      <div class="review__carousel-list js-carousel">
        <div class="carousel__item--wrapper">
          <div class="carousel__img-list">
            <div class="carousel__img-item">
              <picture class="carousel__img-img">
                <source
                  srcset="../src/images/pictures/customer.webp"
                  type="image/webp"
                />
                <img
                  src="../src/images/pictures/customer.png"
                  alt="customer"
                  width="500"
                  height="500"
                />
              </picture>
              <img
                src="../src/images/pictures/customers.png"
                alt="customers"
                width="222"
                height="92"
                class="carousel__img-rating"
              />
            </div>
          </div>

          <div class="reviews__carousel-list">
            <p class="section__description carousel__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularis
            </p>
            <p class="carousel__text-name">Ahmed Hridoy</p>
            <ul class="carousel__rating-list">
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="carousel__item--wrapper">
          <div class="carousel__img-list">
            <div class="carousel__img-item">
              <picture class="carousel__img-img">
                <source
                  srcset="../src/images/pictures/customer-3.webp"
                  type="image/webp"
                />
                <img
                  src="../src/images/pictures/customer-3.png"
                  alt="customer"
                  width="500"
                  height="500"
                />
              </picture>
              <img
                src="../src/images/pictures/customers.png"
                alt="customers"
                width="222"
                height="92"
                class="carousel__img-rating"
              />
            </div>
          </div>

          <div class="reviews__carousel-list">
            <p class="section__description carousel__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It was
              popularis
            </p>
            <p class="carousel__text-name">Ahmed Hridoy</p>
            <ul class="carousel__rating-list">
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="carousel__item--wrapper">
          <div class="carousel__img-list">
            <div class="carousel__img-item">
              <picture class="carousel__img-img">
                <source
                  srcset="../src/images/pictures/customer-4.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="../src/images/pictures/customer-4.png"
                  alt="customer"
                  width="500"
                  height="500"
                />
              </picture>
              <img
                loading="lazy"
                src="../src/images/pictures/customers.png"
                alt="customers"
                width="222"
                height="92"
                class="carousel__img-rating"
              />
            </div>
          </div>

          <div class="reviews__carousel-list">
            <p class="section__description carousel__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book.
            </p>
            <p class="carousel__text-name">Ahmed Hridoy</p>
            <ul class="carousel__rating-list">
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
              <li class="carousel__rating-item">
                <svg width="23" height="23" class="carousel__rating-icon">
                  <use href="../src/images/sprite.svg#star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel__buttons-wrapper">
      <button
        class="carousel__button-icon js-button-prev"
        aria-label="click to previous review"
      >
        <svg width="32" height="32" class="carousel__button-prev">
          <use href="../src/images/sprite.svg#prev-next"></use>
        </svg>
      </button>
      <button
        class="carousel__button-icon js-button-next"
        aria-label="click to next review"
      >
        <svg width="32" height="32" class="carousel__button-next">
          <use href="../src/images/sprite.svg#prev-next"></use>
        </svg>
      </button>
    </div>
  </article>
</section>
