<section class="reviews reviews__section" aria-label="Reviews section">
  <div class="reviews__container">
    <article class="reviews__text-wrapper">
      <h1 class="section__title reviews__title">
        What Our Customers About Us Saying
      </h1>
      <div class="reviews__slider-list">
        <p class="section__description slider__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularis
        </p>
        <h2 class="slider__text-name">Ahmed Hridoy</h2>
        <ul class="slider__rating-list">
          <li class="slider__rating-item">
            <svg width="23" height="23" class="slider__rating-icon">
              <use href="../src/images/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="slider__rating-item">
            <svg width="23" height="23" class="slider__rating-icon">
              <use href="../src/images/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="slider__rating-item">
            <svg width="23" height="23" class="slider__rating-icon">
              <use href="../src/images/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="slider__rating-item">
            <svg width="23" height="23" class="slider__rating-icon">
              <use href="../src/images/sprite.svg#star"></use>
            </svg>
          </li>
          <li class="slider__rating-item">
            <svg width="23" height="23" class="slider__rating-icon">
              <use href="../src/images/sprite.svg#star"></use>
            </svg>
          </li>
        </ul>
        <div class="slider__buttons-wrapper">
          <div class="slider__button-icon">
            <svg width="32" height="32" class="slider__button-prev">
              <use href="../src/images/sprite.svg#prev-next"></use>
            </svg>
          </div>
          <div class="slider__button-icon">
            <svg width="32" height="32" class="slider__button-next">
              <use href="../src/images/sprite.svg#prev-next"></use>
            </svg>
          </div>
        </div>
      </div>
    </article>
    <div class="slider__img-list">
      <div class="slider__img-item">
        <img
          src="../src/images/pictures/customer.png"
          alt="customer"
          width="447"
          class="slider__img-img"
        />
        <img
          src="../src/images/pictures/customers.png"
          alt="customers"
          width="220"
          class="slider__img-rating"
        />
      </div>
    </div>
  </div>
</section>
