.to-top__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: clamp(2rem, 1.643rem + 1.79vw, 3.25rem);
  height: clamp(2rem, 1.643rem + 1.79vw, 3.25rem);

  position: fixed;
  bottom: 2%;
  right: 6%;

  border-radius: 50%;

  background-color: var(--accent);

  opacity: 0;

  pointer-events: none;

  transition: all 0.4s ease-in-out;

  &:focus-visible,
  &:hover {
    background-color: var(--hover-accent);
  }
}

.to-top__button.active {
  bottom: 6%;

  pointer-events: all;

  opacity: 0.6;
}

.to-top__icon {
  fill: var(--light-color);

  transform: rotate(-90deg);
}
