button {
  transition: all 200ms ease-in-out;
  cursor: pointer;

  color: var(--light-color);
  background-color: var(--accent);

  &:active {
    transform: scale(0.95);
  }

  &:focus-visible {
    outline: 2px solid black;
  }
}

.circle__button {
  width: clamp(32px, 5vw, 64px);
  height: clamp(32px, 5vw, 64px);

  //   padding: 32px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.circle__button-arrow {
  height: clamp(18px, 3vw, 32px);

  rotate: -90deg;

  fill: #fff;
}
