// =============== Contact content =============
.modal__form--title {
  display: block;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  text-align: center;

  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal__form--details {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 10px;
}

.modal__form--field {
  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 10px;
}

.modal__form--label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-bottom: 4px;

  color: var(--title-color);
}

.modal__form--input {
  height: 40px;

  padding: 11px 42px;

  outline: transparent;

  border: 1px solid var(--title-color);
  border-radius: 4px;

  color: var(--title-color);

  background: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: var(--title-color);

    opacity: 0.7;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent);
  }
}

.form__input--icon {
  width: 18px;
  height: 18px;

  position: absolute;

  left: 12px;
  bottom: 11px;

  &.person {
    background-image: url(../src/images/icons/person-black.svg);
  }
  &.email {
    background-image: url(../src/images/icons/email-black.svg);
  }
}

.modal__form--input:hover + .form__input--icon,
.modal__form--input:focus + .form__input--icon {
  fill: var(--accent);
}

.form__input--agree {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__label--agree {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--title-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.label__agree--icon {
  width: 16px;
  height: 15px;

  margin-right: 7px;

  fill: var(--modal-bg);

  border: 2px solid var(--title-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--agree:checked + .label__agree--icon {
  border: none;
  background-image: url(../src/images/icons/icon-check.svg);
  background-size: cover;
  background-color: var(--accent);
}

.modal__form--btn {
  min-width: 150px;

  padding: 10px 20px;
  margin: 20px auto 0 auto;

  border-radius: 6px;

  &:disabled {
    background-color: rgb(168, 175, 168);
    color: rgb(224, 221, 221);
  }
}

// ==================== Product content ===================
.modal__content--product {
  padding-top: 20px;
}

.modal__product--img {
  width: clamp(5rem, 2.273rem + 13.64vw, 12.5rem);
  height: clamp(5rem, 2.273rem + 13.64vw, 12.5rem);

  float: left;
  display: flow-root;

  margin-right: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);

  &.product-1 {
    background-image: url(../src/images/pictures/item-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.product-2 {
    background-image: url(../src/images/pictures/item-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.product-3 {
    background-image: url(../src/images/pictures/item-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.product-4 {
    background-image: url(../src/images/pictures/item-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.modal__product--title {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 600;
}

.modal__product--descr {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
