.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-color);

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.about__description {
  text-align: center;
  text-wrap: balance;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.about__info-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.about__img-wrapper {
  width: clamp(200px, 80vw, 600px);
  height: clamp(200px, 80vw, 600px);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  order: 1;

  @media screen and (min-width: 768px) {
    order: 2;
  }
}

.about__img-elipse {
  width: 64%;

  position: absolute;
  top: 0;
  right: 0;
}

.about__img-circle {
  width: 70%;
  height: 70%;

  position: relative;

  border-radius: 50%;
  background-color: var(--accent);

  &::after {
    content: '';
    width: 9%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    rotate: -45deg;

    background-color: var(--light-color);
  }

  &::before {
    content: '';
    width: 9%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    rotate: 45deg;

    background-color: var(--light-color);
  }
}

.about__img {
  width: 62%;

  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}

.about__info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;

  order: 2;

  @media screen and (min-width: 768px) {
    margin-top: 0;

    order: 1;
  }
}

.about__info-item {
  width: clamp(300px, 80vw, 500px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding: clamp(10px, 5vw, 40px) clamp(20px, 5vw, 60px);

  border-radius: 6px;

  &:nth-child(even) {
    background-color: var(--background-color);
  }
}

.about__icon-wrapper {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: var(--background-color);

  &.bg-light {
    background-color: var(--light-color);
  }

  @media screen and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.about__info-icon {
  width: 16px;
  height: 16px;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.about__info-title {
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 700;
  line-height: 1.5;

  color: var(--title-color);
}

.about__info-description {
  width: clamp(180px, 40vw, 270px);

  font-size: clamp(10px, 2vw, 14px);
  line-height: 1.42;

  color: var(--paragraph-color);

  //   @media screen and (min-width: 768px) {
  //     width: 278px;
  //   }
}
