.header {
  z-index: 30;

  overflow: hidden;
}

.header__wrapper {
  display: flex;
  align-items: center;

  position: relative;

  @media screen and (min-width: 992px) {
    justify-content: space-between;
  }
}

.header__nav-list {
  display: flex;
  gap: 40px;

  @media screen and (max-width: 991.8px) {
    position: absolute;
    right: -100%;
    top: 100px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 100vh;

    padding-top: 30px;

    background-color: var(--background-color);

    transition: 0.3s;

    &.is-open {
      right: 0;
    }
  }
}

.header__nav-item {
  line-height: 1.33;

  color: var(--title-color);

  padding: 40px 0;

  cursor: pointer;
}

.header__logo {
  padding: 20px 0;
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  color: var(--light-color);

  @media screen and (max-width: 991.8px) {
    position: absolute;
    right: -100%;
    top: 100px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 100%;
    height: 100vh;

    background-color: var(--light);

    transition: 0.3s;

    &.is-open {
      right: 0;
    }
  }
}

.header__user-icon {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.header__user-download {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 160px;
  min-height: 40px;

  line-height: 1.11;

  border-radius: 8px;
  background-color: var(--accent);

  cursor: pointer;

  transition: transform 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    transform: scale(1.05);
  }
}
