.header {
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 40px;

  order: 1;

  @media screen and (max-width: 991.8px) {
    position: fixed;
    left: -100%;
    top: 100px;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 100vh;

    padding-top: 10px;

    background-color: var(--background-color);

    transition: 0.3s;

    &.is-open {
      left: 0;
    }
  }
}

.header__nav-item {
  line-height: 1.33;

  color: var(--title-color);

  padding: 10px 0;

  cursor: pointer;
}

.header__logo {
  order: 2;

  @media screen and (max-width: 991.8px) {
    order: 1;
  }
}

.header__user-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  order: 3;

  @media screen and (max-width: 991.8px) {
    position: fixed;
    left: -100%;
    top: 100px;
    z-index: 6;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    width: 100%;
    height: 100vh;

    padding-top: 50px;

    background-color: var(--light);

    transition: 0.3s;

    &.is-open {
      left: 0;
    }
  }
}

.header__user-icon {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.header__user-button {
  min-width: 160px;
  min-height: 40px;

  line-height: 1.11;

  border-radius: 8px;
}

.burger-menu {
  @media screen and (max-width: 991.8px) {
    order: 2;
  }
}
