.review__carousel {
  width: 100%;

  margin-top: 20px;

  overflow: hidden;
}

.review__carousel-list {
  width: 300%;
  display: flex;

  cursor: grab;

  user-select: none;

  transition: transform 0.3s ease-in-out;
}

.carousel__item--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1.563rem, -5.58rem + 14.88vw, 7.813rem);
  }
}

.reviews__title {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;

    max-width: 640px;
  }
}

.carousel__img-list {
  margin-top: 10px;

  order: 1;

  @media screen and (min-width: 768px) {
    order: 2;

    margin: 0 auto;
  }
}

.carousel__img-item {
  width: clamp(12.5rem, 8.036rem + 22.32vw, 18.75rem);

  margin: 0 auto;

  position: relative;

  @media screen and (min-width: 768px) {
    width: clamp(12.5rem, 1.786rem + 22.32vw, 21.875rem);
  }
}

.carousel__img-rating {
  width: clamp(6.25rem, 4.018rem + 11.16vw, 9.375rem);

  position: absolute;
  bottom: 3%;
  left: -7%;

  @media screen and (min-width: 768px) {
    width: clamp(6.25rem, 0.536rem + 11.9vw, 11.25rem);
  }
}

.reviews__carousel-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  margin-top: 20px;

  order: 2;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
    order: 1;
  }
}

.carousel__text {
  width: 100%;
  text-align: justify;
}

.carousel__text-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.carousel__rating-list {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.carousel__rating-icon {
  width: 18px;
}

.carousel__buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-top: 20px;

  @media screen and (min-width: 768px) {
    align-self: center;

    gap: clamp(1.563rem, 0.491rem + 2.23vw, 2.5rem);
  }
}

.carousel__button-icon {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--light-dark-color);
  border-radius: 50%;

  fill: var(--light-dark-color);

  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &:disabled {
    background-color: #999999;

    &:hover,
    &:focus-visible {
      background-color: #999999;
      fill: var(--light-dark-color);
    }

    &:active {
      scale: 1;
    }
  }

  &:hover,
  &:focus-visible {
    background-color: var(--hover-accent);
    fill: var(--light-color);
  }

  &:active {
    scale: 0.9;
  }

  @media screen and (min-width: 768px) {
    width: clamp(2rem, 0.214rem + 3.72vw, 3.563rem);
    height: clamp(2rem, 0.214rem + 3.72vw, 3.563rem);
  }
}

.carousel__button-prev {
  rotate: -180deg;
  fill: inherit;
}

.carousel__button-next {
  fill: inherit;
}
